@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
body{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
height: 100%; 
max-height: 100%; 
}

#framecontent{
position: absolute;
top: 0;
bottom: 0; 
left: 0;
width: 220px; /*Width of frame div*/
height: 100%;
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
/*background: navy; or background:#42B7F5; */
background: linear-gradient(45deg, rgba(176, 66, 245, 0.22) 0%, rgba(184, 66, 245, 0.6) 100%);*/
background:#42B7F5;
color: white;
}

#maincontent{
position: fixed;
top: 0; 
left: 200px; /*Set left value to WidthOfFrameDiv*/
right: 0;
bottom: 0;
overflow: auto; 
background: #fff;
}

#frameheader, #framefooter{
position: absolute; 
top: 0; 
left: 0; 
width: 100%; /*Width of left frame div*/
height: 80px;
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: navy;
color: white;
}

#framefooter{
left: 0;
right: 0; 
height:60px;
width: 100%; /*Width of right frame div*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: navy;
color: white;
}


.innertube{
margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}
.innertube h1{
	text-align:center;
}

* html body{ /*IE6 hack*/
padding: 0 0 0 200px; /*Set value to (0 0 0 WidthOfFrameDiv)*/
}

* html #maincontent{ /*IE6 hack*/
height: 100%; 
width: 100%; 
}

/*---------- GESTION MENU GERANT Maxo --------------*/
#menu1 {
width: 300px;
float:left;
margin:0 auto;
}

.innertube>#menu1 {
	margin:5px;
}
	
#menu1 ul
{
font-family: Arial, Helvetica, sans-serif;
list-style-type:none;
margin:0;
padding:20px 5px;
line-height: 34px;
}

#menu1 li
{
display: inline;
/* for IE5 and IE6 */
}

#menu1 a
{
color: #fff;
text-decoration: none;
font-size: 16px;
display: block;
padding: 6px;
width: 220px;
/*background-color: #686C7A;*/
border-bottom: 1px solid #eee;
}

#menu1 a:link, #menu1 a:visited
{
color: #EEE;
text-decoration: none;
}

#menu1 a:hover
{
background-color: #00BEE4;
color: #fff;
}

#menu1 li a#current
{
border-bottom: 3px solid #DAD6B7;
background: #00BEE4;
}

/* ********** Ajout images sur welcome page ************* */

figure img{
	width:100%;
	height:100%;
}
figcaption{
	color:blue;
}
figure p{
	color:red;
	}
.welcomeBlockH1{
	width:100;
	margin:30px 5px;
	padding:10px;
}
.accbtn{
	margin: 30px auto;
	display:block;

}
.accbtn a{
		color:white;

	}